# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
/.idea/modules.xml
/.idea/node-js-getting-started.iml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/node-js-getting-started.iml
/.idea/workspace.xml
modules.xml
node-js-getting-started.iml
workspace.xml
